*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: #eff5ff;     */
}


ul{
 list-style: none;
 text-decoration: none;
} 


.banner{
    background-image: url('./../img/testImg2.jpg');
    height: 50vh;
    margin: 10px 0;
}

.linea{
    height: 5px;
    width: 50%;
    background-color: black;
    margin-left: 25%;    
}

.textBanner{
    text-align: center;
    padding-top: 10%;
}

.servicios{
    text-align: center;
}

.cardPropia{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 60px;
}

.footerSocial{
    background-color: #172054;
    margin: 0%;
    padding: 50px 200px;
    width: 100%;
    color: aliceblue;
}

.footerCopyright{
    padding: 25px 0px;
    text-align:center;
}
