*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box;
 */    /* background-color: #eff5ff;     */
}


/* <!--Barra de Navegacion-->
 */

.contenidoMenu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

ul{
    list-style: none;
    text-decoration: none;
} 


.banner{
    background-image: url('./../img/testImg2.jpg');
    height: 50vh;
    margin: 10px 0;
}

.lineBanner{
    height: 5px;
    width: 50%;
    background-color: black;
    margin-left: 25%;    
}

.textBanner{
    text-align: center;
    padding-top: 10%;
    color: aliceblue;
    text-shadow: 1px 1px 2px black;

}

.servicios{
    text-align: center;
}
.cardPropia{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 60px;
}
.card{
    margin: 0px 15px;
}


/* <!--Tecnologias Utilizadas-->
 */
.secTechUtilizadas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

 .divTecUtilizadas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

 .infoTec{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}


.groupOne, .groupTwo, .groupThree{
    display: flex;
    flex-wrap: wrap;
}


.cardJava{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 10px 50px;
}

.cardImgJava{
    display: flex;
    border-radius: 50%;
    width: 80px;
    height: 100px;
} 



/* <!--Footer-->*/
 footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #172054;
    color: aliceblue;
}

.navegacionFooter{
    display: flex;
    justify-content: center;
    gap: 135px;
    padding: 10px;
    margin: 35px 68px;
}

.lista1 ul li, .lista2 ul li{
    list-style: none;
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 23.38px;
    font-weight: 400;
}
.lista1 a, .lista2 a{
    text-decoration: none;
    color: #fff;
}


div.copyright{
    background-color: aliceblue;
    color: black;
    padding-top: 20px;
    text-align:center;
    width: 100%;
    display: inline-block;
    margin-top: auto; 
}